.card {
  background-color: #1c1c20;
  display: grid;
  padding: 2rem 2rem;
  @media screen and (max-width: 450px) {
    padding: 1rem 2rem;
    max-width: 15rem;
  }

  .title {
    color: #fff;
    h1 {
      font-size: 1.5rem;
      @media screen and (max-width: 1300px) {
        font-size: 1.1rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 0.9rem;
      }
    }
  }
  .stack {
    color: #c5c5c8;
    font-weight: 600;
    font-size: 0.6rem;
    margin-top: -1rem;
    letter-spacing: 1px;
    @media screen and (max-width: 1300px) {
      font-size: 0.6rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 0.5rem;
      margin-top: 0.1rem;
    }
  }
  .description {
    color: #666669;
    font-size: 12px;
    @media screen and (max-width: 1300px) {
      font-size: 12px;
    }
  }
  .btn {
    a {
      text-decoration: none;

      p {
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        cursor: pointer;
        width: fit-content;
        color: #fff;
        font-size: 12px;
        @media screen and (max-width: 1300px) {
          font-size: 12px;
        }
      }
    }
  }
}
