.body {
  background-color: #151515;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  align-items: center;
  // overflow: hidden;

  .socials {
    display: none;
    // margin-top: 6rem;
    // margin-bottom: 2rem;
    gap: 6rem;
    // align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    @media screen and (max-width: 1300px) {
      gap: 3rem;
      display: flex;
    }

    .socialLink {
      .icon {
        color: #fff;
        font-size: 1.8rem;
        cursor: pointer;
        @media screen and (max-width: 1300px) {
          font-size: 1.3rem;
        }
      }
    }
  }

  .nav {
    // position: sticky;
    // top: 0;
    // background-color: #21212f;
    position: absolute;
    top: 0;
    width: 100%;
    // background-color: #151515;
  }
}
.layout {
  display: grid;
  padding: 0rem 8rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  color: #fff;
  @media screen and (max-width: 1300px) {
    padding: 0rem 3rem;
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 500px) {
    padding: 0rem 1rem;
  }

  h1 {
    font-weight: 500;
    font-size: 2.9rem;
  }

  // .home {
  //   color: #fff;
  //   position: sticky;
  //   top: 0;
  //   scroll-behavior: unset;
  //   overflow: hidden;
  //   @media screen and (max-width: 1200px) {
  //     justify-self: center;
  //     display: none;
  //   }
  //   .container {
  //     display: grid;
  //     .static {
  //       height: 100vh;
  //       display: grid;
  //       align-content: center;
  //       @media screen and (max-width: 1200px) {
  //         height: auto;
  //       }
  //       .staticContent {
  //         .intro {
  //           color: #777778;
  //           line-height: 2;
  //           font-weight: 400;
  //           width: 70%;
  //           @media screen and (max-width: 1200px) {
  //             width: 100%;
  //           }
  //           span {
  //             color: #fff;
  //           }
  //         }
  //         .list {
  //           display: grid;
  //           margin-top: 3rem;
  //           .listItem {
  //             display: grid;
  //             align-items: center;
  //             grid-template-columns: 1rem 6rem 7rem;
  //             gap: 2rem;
  //             color: #777778;
  //             cursor: pointer;
  //             &:hover {
  //               color: #fff;
  //               .line {
  //                 background-color: #fff;
  //                 width: 100%;
  //               }
  //               .text {
  //                 transform: translateX(0);
  //               }
  //             }
  //             .line {
  //               height: 1px;
  //               background-color: #777778;
  //               width: 50%;
  //               transition: width 0.5s ease-in-out;
  //             }
  //             .text {
  //               letter-spacing: 2px;
  //               transform: translateX(-3.5rem);
  //               transition: transform 0.5s ease-in-out;
  //               font-size: 14px;
  //             }
  //           }
  //         }
  //         .socials {
  //           margin-top: 3rem;
  //           display: grid;
  //           grid-template-columns: repeat(4, 1fr);
  //           gap: 1rem;
  //           align-items: center;
  //           width: 70%;
  //           img {
  //             width: 4rem;
  //             height: 4rem;
  //             object-fit: cover;
  //             border-radius: 50%;
  //           }
  //           // width: 90%;

  //           .socialLink {
  //             display: grid;
  //             grid-template-columns: repeat(3, 1fr);
  //             align-content: center;

  //             .icon {
  //               color: #777778;
  //             }

  //             .arrowUp {
  //               justify-self: end;
  //             }
  //           }
  //         }
  //       }
  //     }
  //     .links {
  //       width: 100%;
  //     }
  //   }
  // }
  .bio {
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
  .outlet {
    // height: 100vh;
    // margin-top: 1rem;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }
    @media screen and (max-width: 1300px) {
      // margin-top: 0rem;
    }
  }
}
